/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --font-color: #353430;
  --title-color: #ffc2e6;
  --buttons-color: 50 49 45;
  --accent-font-color: #353430;
  --accent-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --font-color: #353430;
    --title-color: #ffc2e6;
    --buttons-color: 50 49 45;
    --accent-font-color: #353430;
    --accent-color: #ff8dcb;
  }

  .header__decoration {
      display: none;
  }
    
}

.theme_light .header__decoration {
  display: none;
}
